.requests-bg-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.385), rgba(0, 0, 0, 0.5)), url('https://turntable.kagiso.io/images/Facebook_friend_request_iStock.width-800.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}
  
.friends-bg-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.385), rgba(0, 0, 0, 0.5)), url('https://images.pexels.com/photos/853168/pexels-photo-853168.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
}

.highlighted-hr {
  width: 80%;
  margin-bottom: 18px;
  margin-top: 12px;
  background: linear-gradient(to right, #6ea2dd, #6f888a);
  border: 0;
  height: 4px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}