.requests-bg-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.385), rgba(0, 0, 0, 0.5)), url('https://turntable.kagiso.io/images/Facebook_friend_request_iStock.width-800.jpg');
    background-size: cover;
    background-repeat: no-repeat;
  }
  